<nav class="navbar  navbar-expand-lg" style="background-color: purple;">
    <div class="container">
        <a href="/" class="navbar-brand" style="font-weight: bold; font-size: 30px; color:white;">Memoryapp</a>
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a href="/admin/blogs" class="nav-link me-3" style="color: white;">Memory List</a>
            </li>
            <li>
                <a href="/admin/blogs/create" class="nav-link me-3"style="color: white;" >Add memory</a>
            </li>
            <li>
                <a href="/admin/categori/create" class="nav-link me-3"style="color: white;">Add memory category</a>
            </li>
               
                <li>
                    <a href="/admin/categories" class="nav-link me-3"style="color: white;">Categories</a>
                </li>
               
           
        </ul>
    </div>
</nav>